body {

  /* background-color: black; */
}

#hero {

}
#switch_01 {
    width: 50% ;
}

.test_01 {
    align-content: center;
}

.inputfield {
    width: 100vh;
}

#darkmodeswitch {
    float: right;
}

fieldset {
    width: 80vh center;
    background-color: black;
    border: none;
  }

.inputFieldTest {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  label {
    display: block;
    margin: 0.5rem 0;
  }


/* klingon 1  // Field below w. form */
#klingon_01 {
  position:absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    width: 50%;
}

.formfield-1 {
  margin-top: 5vh;
}


/*   .form-control {
    color:white;
    background-color:black;

  } */

  