body {
margin-top:12%;
background-color: black;
}

#headerWrapper {
  position:fixed;
  width:100%;
  top:0;
  height: 10%; 
  }

/* span errormessage */
/* .right{
  float:right;
}

.left{
  float:left;
} */

.messageError {
  text-align:right;
  
}

#hero {

}
/* #switch_01 {
    width: 50% ;
} */

/* .test_01 {
    align-content: center;
}

.inputfield {
    width: 100vh;
}

#darkmodeswitch {
    float: right;
} */

/* fieldset {
    width: 80vh center;
    background-color: black;
    border: none;
  } */

/* .inputFieldTest {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  label {
    display: block;
    margin: 0.5rem 0;
  } */


/* klingon 1  // Field below w. form */
#klingon_01 {
  position:absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    width: 50vh;
    border-width: 10px;
    border-color: white;
}

.formfield-1 {
  margin-top: 5vh;
}


/*   .form-control {
    color:white;
    background-color:black;

  } */

/*   .text-bg-dark {
    color: #fff!important;
    background-color: RGBA(33,37,41,var(--bs-bg-opacity,1))!important;
} */






  