body {
margin-top:18%;
background: url('../assets/img/klingon_city_in_fog_by_mylochka_d5ze1lb.png');
width: 100%;
height: auto;
background-size: cover;
font-family: 'Lexend Deca', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;300;400;500;700;900&display=swap');


/* .bgimg {
  background-image: url('../../Stranger_Languages_Classes/assets/img/klingon_city_in_fog_by_mylochka_d5ze1lb.png');
}
 */
/* 
background-image: url("../../media/examples/lizard.png");
*/

#headerWrapper {
  position:fixed;
  width:100%;
  top:0;
  height: 17rem; 
  z-index: 1;
  }

#titlelead {
  font-size: 80%;
}

@font-face {
    font-family: 'benguiatbold';
    src: url('/assets/benguiat_bold-webfont.woff2') format('woff2'),
         url('/assets/benguiat_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

} 

klingonbg {
  background-image: url('../../Stranger_Languages_Classes/assets/img/klingon_city_in_fog_by_mylochka_d5ze1lb.png');

}

.content {
  background-color:#E4A11B ;
  opacity: 95%;
  margin-top:435px;
  margin-bottom: 10%;
}


.title-font-header {
  font-family: 'benguiatbold';
  font-size;

}

.title-font-content {
  font-family: 'benguiatbold';
  font-size: 50px;
  padding: 5px;


}

/* Title_font glow */

.glow {
  font-size: auto;
  color: rgb(255, 7, 7);
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60008, 0 0 40px #e60008, 0 0 50px #e60008, 0 0 60px #e60008, 0 0 70px #e60008;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}


/* span errormessage */
/* .right{
  float:right;
}

.left{
  float:left;
} */

.messageError {
  text-align:right;
  
}

#hero {

}

/* klingon 1  // Field below w. form */
#klingon_01 {
  position:absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    width: 35vh;
    border-width: 10px;
    border-color: white;
}

.formfield-1 {
  margin-top: 5vh;
}



.confirmationLabel {
  
  color:blue;
  font-weight: bold;
}

.messageError {
  color:red;
}

#footer {
  position:sticky;
  left: 0;
  bottom:0;
  width: 100%;
  color: white;
  text-align: center;
 

/* .alert {
  background-color: #e60008;
} */
  

